[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/dbext"]
	path = vim/bundle/dbext
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "bash_it"]
	path = bash_it
	url = https://github.com/revans/bash-it.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
