[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/dbext"]
	path = vim/bundle/dbext
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "bash_it"]
	path = bash_it
	url = https://github.com/revans/bash-it.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-gnupg"]
	path = vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "vim/bundle/paredit-vim"]
	path = vim/bundle/paredit-vim
	url = https://github.com/dgrnbrg/paredit-vim.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
